.avatar-popup_form {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.avatar-popup_form-title {
  font-size: 15px;
}

.avatar-popup_input {
  background: transparent;
}
