<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="./index.pcss" />
    <title>Document</title>
  </head>
  <body>
    <ul>
      Страницы
      <li>Страница авторизации
        {{> link/link label="перейти" href="./src/pages/login/login.hbs"}}
      <li>Страница регистрации
        {{> link/link label="перейти" href="./src/pages/registration/registration.hbs"}}
      <li>Страница 404
        {{> link/link label="перейти" href="./src/pages/error404/error404.hbs"}}
      <li>Страница 5xx-ошибок
        {{> link/link label="перейти" href="./src/pages/error500/error500.hbs"}}
      <li>Страница профиля
        {{> link/link label="перейти" href="./src/pages/profile/profile.hbs"}}
      <li>Страница профиля (настройки профиля)
        {{> link/link label="перейти" href="./src/pages/profileSettings/profileSettings.hbs"}}
      <li>Страница с чатом (настройки пароля)
        {{> link/link label="перейти" href="./src/pages/passwordSettings/passwordSettings.hbs"}}
      <li>Страница со списком чатов
        {{> link/link label="перейти" href="./src/pages/workInProgress/workInProgress.hbs"}}
      <li>Страница с чатом
        {{> link/link label="перейти" href="./src/pages/workInProgress/workInProgress.hbs"}}
    </ul>
  </body>
</html>