.chat_item {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 12px;
  justify-content: space-between;
  border-bottom: solid 1px var(--greyLight);
  gap: 24px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
}

.chat_item__active {
  background-color: #e4edfd;
}
