.popup_button {
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s;
}

.popup_button:hover {
  color: #3369f3;
}

.popup_button_text {
  padding-left: 16px;
}
