@import "./components/menu/menu.pcss";
@import "./components/toggler/toggler.pcss";

.messages-header {
  position: relative;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px var(--greyLight);
}

.messages-header_user-info {
  height: 56px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.messages-header_user-name {
  font-size: 13px;
  font-weight: 600;
}
