.avatar_button {
  position: absolute;
  width: 150px;
  color: var(--blue);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 8px;
  background: white;
  transition: color 0.2s;
}

.avatar_button:hover {
  color: var(--red);
}
