.settings-input_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid var(--greyLight);
}

.settings-input_wrapper:last-child {
  border-bottom: none;
}

.settings-input_input {
  border: none;
  outline: none;
  color: var(--grey);
  border-bottom: solid transparent 1px;
  transition: border-bottom 0.3s;
}

.settings-input_input.invalid {
  border-bottom: solid var(--red) 1px;
}
