---
  props: {
   settings: {
    email: 'pochta@yandex.ru',
    login: 'ivanivanov',
    name: 'Иван',
    surname: 'Иванов',
    phone: '+7 (909) 967 30 30'
   }
  }
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../../../index.pcss" />
    <link rel="stylesheet" href="./profileSettings.pcss" />
    <title>Profile</title>
  </head>
  <body>
    <main class="page-wrapper profile">
    {{#extend "settingsContainer/settingsContainer"}}
      {{#content "settings"}}
        {{> avatar/avatar src="../../../static/icons/file.svg"}}
          <form class="profile-settings_form">     
            {{> settingsInput/settingsInput id="email" type="email" name="email" label="Почта" value=props.settings.email }}
            {{> settingsInput/settingsInput id="login" type="login" name="login" label="Логин" value=props.settings.login }}
            {{> settingsInput/settingsInput id="name" type="name" name="first_name" label="Имя" value=props.settings.name }}
            {{> settingsInput/settingsInput id="surname" type="surname" name="second_name" label="Фамилия" value=props.settings.surname }}
            {{> settingsInput/settingsInput id="tel" type="tel" name="phone" label="Телефон" value=props.settings.phone }}
            {{> buttonBase/buttonBase label="Сохранить" type="submit" className="profile-settings_button__submit"}}
         </form>
      {{/content}}
    {{/extend}}
    </main>
  </body>
</html>
