---
   props: {
    password: 'xxxxxxxx',
  }
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="stylesheet" href="../../../index.pcss" />
    <link rel="stylesheet" href="./passwordSettings.pcss" />
    <title>Profile</title>
  </head>
  <body>
    <main class="page-wrapper profile">
      {{#extend "settingsContainer/settingsContainer"}}
        {{#content "settings"}}
          {{> avatar/avatar src="../../../static/icons/file.svg"}}
          <form class="password-settings_form">     
            {{> settingsInput/settingsInput id="password_setup_1" type="password" name="password" label="Новый пароль" placeholder='Введите пароль' }}
            {{> settingsInput/settingsInput id="password_setup_3" type="password" name="password" label="Повторите новый пароль" placeholder='Введите пароль'}}
            {{> buttonBase/buttonBase label="Сохранить" type="submit" className="password-settings_button__submit"}}
          </form>
        {{/content}}
      {{/extend}}
    </main>
  </body>
</html>
