.chat_message {
  position: relative;
  width: 400px;
  background: var(--greyLight);
  font-size: 12px;
  padding: 10px 10px 24px 10px;
  border-radius: 2px 8px 8px 8px;
}

.chat_message-login {
  margin: 0 0 16px 0;
  font-weight: 700;
}

.chat_message-time {
  bottom: 10px;
  position: absolute;
  right: 10px;
  font-size: 9px;
  line-height: 1;
  font-weight: 500px;
}
