@import "./login/login.pcss";
@import "./profileSettings/profileSettings.pcss";
@import "./passwordSettings/passwordSettings.pcss";
@import "./profile/profile.pcss";
@import "./registration/registration.pcss";
