<div class="contacts_header-user-info">
  <div class="contacts_header-avatar-bg">
    <img src="" alt="Аватар" />
  </div>
  <span class="contacts_header-user-name">{{name}}</span>
</div>
<div class="contacts_header-menu-toggler">
  <svg width="4" height="16"><use href={{dotsIcon}}></use></svg>
</div>
