.input_wrapper {
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.input_label {
  font-size: 9px;
  color: var(--grey);
}

.input_input {
  border: none;
  border-bottom: solid var(--blue) 1px;
  outline: none;
  padding-bottom: 8px;
  transition: border-bottom 0.3s;
}

.input_input.invalid {
  border-bottom: solid var(--red) 1px;
}
